# Environment
.env
*.env

# Python
__pycache__/
*.pyc
.venv/
*.sqlite

# Flutter/Dart
client/.dart_tool/
client/.packages
client/build/
client/.flutter-plugins
client/.flutter-plugins-dependencies
*.iml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Hetzner
*.pem
